.image-container {
    position: relative;
    width: 100%;
    height: 100%; /* ajusta según el tamaño deseado */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .button-container {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .button-container button {
    margin: 5px;
  }
  